---
name: ci

# yamllint disable-line rule:truthy
on:
  push:
  pull_request:

concurrency:
  group: ci-${{github.ref}}-${{github.event.pull_request.number || github.run_number}}
  cancel-in-progress: true

permissions: {}

jobs:
  prechecks:
    uses: ./.github/workflows/pre-commit.yml
  separate-zizmor:
    uses: ./.github/workflows/zizmor.yml
  all:
    name: CI precheck success
    needs: [prechecks, separate-zizmor]
    runs-on: ubuntu-24.04
    steps:
      - name: Success
        run: "true"
